# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
venv/
.env/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.idea/
.vscode/

# macOS system files
.DS_Store
creds.py

